<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Login</h2>
        <!-- Exibindo o formulário de login -->
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Usuário:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>

        <!-- Exibindo mensagens de sucesso ou erro -->
        <% if (mensagemErro) { %>
            <div class="alert alert-danger mt-3" role="alert">
                <%= mensagemErro %>
            </div>
        <% } %>

        <% if (mensagemSucesso) { %>
            <div class="alert alert-success mt-3" role="alert">
                <%= mensagemSucesso %>
            </div>
        <% } %>
        <br>
        <a href="/novologin.html" class="btn btn-secondary mt-3">Criar Novo Login</a>
    </div>
</body>

</html>