<!DOCTYPE html>
<html>

<head>
    <title>Criar Novo Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2>Criar Novo Login</h2>
        <!-- Formulário para criar um novo login -->
        <form action="/criarlogin" method="post">
            <div class="form-group">
                <label for="novo-username">Novo Usuário:</label>
                <input type="text" class="form-control" id="novo-username" name="novo-username" required>
            </div>
            <div class="form-group">
                <label for="novo-password">Nova Senha:</label>
                <input type="password" class="form-control" id="novo-password" name="novo-password" required>
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </form>
    </div>
</body>

</html>